
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_SidebarLayout.cshtml";
}

    <div class="wrapper">

        <section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(images/bg_4.jpg);">
            <div class="wrapper">
                <div class="row justify-content-center mb-5 pb-3">
                    <div class="col-md-7 text-center heading-section heading-section-white ftco-animate fadeInUp ftco-animated">

                        <h2 class="mb-4">Some fun facts</h2>
                        <span class="subheading">Far far away, behind the word mountains, far from the countries</span>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate fadeInUp ftco-animated">
                                <div class="block-18 text-center">
                                    <div class="text">
                                        <strong class="number" data-number="60">60</strong>
                                        <span>Hospital</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate fadeInUp ftco-animated">
                                <div class="block-18 text-center">
                                    <div class="text">
                                        <strong class="number" data-number="200">200</strong>
                                        <span>Doctors</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate fadeInUp ftco-animated">
                                <div class="block-18 text-center">
                                    <div class="text">
                                        <strong class="number" data-number="100">100</strong>
                                        <span>Clinics</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate fadeInUp ftco-animated">
                                <div class="block-18 text-center">
                                    <div class="text">
                                        <strong class="number" data-number="200">200</strong>
                                        <span>Reviews</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
