<!DOCTYPE html>
<html>
<head>
    @{
        ViewData["Title"] = "Index";
        Layout = "~/Views/Shared/_GuestLayout.cshtml";
    }
    </head>
<body>
    <h1>Insert Data Here</h1>

    
</body>
</html>

    
